<link rel="stylesheet" href="/static/css/dashboard.css">

<nav class="navbar navbar-light bg-faded" ng-init="initKpis()">
    <form class="search-kpis">
        <div class="form-row row search-kpis-content">
            <div class="form-group col-md-2">
                <label for="branch_id">
                    <h5>Branch office:</h5>
                </label>
                <select class="form-control" id="branch_id" ng-model="branch_id">
                    <option value="0" selected>All</option>
                    <option value="911" selected>Clínica</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="period">
                    <h5>Period:</h5>
                </label>
                <div class="form-row row" id="period">
                    <div class="input-group">
                        <input type="text" class="form-control col-md-6" id="from_d" ng-model="from_d" data-toggle="datepicker">
                        <div class="input-group-addon ">
                            <span class="input-group-text" id="inputGroupPrepend">to</span>
                        </div>
                        <input type="text" class="form-control col-md-6" id="to_d" ng-model="to_d" data-toggle="datepicker">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="from_hour">
                    <h5>Start Hour:</h5>
                </label>
                <select class="form-control" id="from_hour" ng-model="from_hour">
                    <option value="23" selected>23</option>
                    <option value="22" selected>22</option>
                    <option value="21" selected>21</option>
                    <option value="20" selected>20</option>
                    <option value="19" selected>19</option>
                    <option value="18" selected>18</option>
                    <option value="17" selected>17</option>
                    <option value="16" selected>16</option>
                    <option value="15" selected>15</option>
                    <option value="14" selected>14</option>
                    <option value="13" selected>13</option>
                    <option value="12" selected>12</option>
                    <option value="11" selected>11</option>
                    <option value="10" selected>10</option>
                    <option value="09" selected>09</option>
                    <option value="08" selected>08</option>
                    <option value="07" selected>07</option>
                    <option value="06" selected>06</option>
                    <option value="05" selected>05</option>
                    <option value="04" selected>04</option>
                    <option value="03" selected>03</option>
                    <option value="02" selected>02</option>
                    <option value="01" selected>01</option>
                    <option value="00" selected>00</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="to_hour">
                    <h5>End Hour:</h5>
                </label>
                <select class="form-control" id="to_hour" ng-model="to_hour">
                    <option value="23" selected>23</option>
                    <option value="22" selected>22</option>
                    <option value="21" selected>21</option>
                    <option value="20" selected>20</option>
                    <option value="19" selected>19</option>
                    <option value="18" selected>18</option>
                    <option value="17" selected>17</option>
                    <option value="16" selected>16</option>
                    <option value="15" selected>15</option>
                    <option value="14" selected>14</option>
                    <option value="13" selected>13</option>
                    <option value="12" selected>12</option>
                    <option value="11" selected>11</option>
                    <option value="10" selected>10</option>
                    <option value="09" selected>09</option>
                    <option value="08" selected>08</option>
                    <option value="07" selected>07</option>
                    <option value="06" selected>06</option>
                    <option value="05" selected>05</option>
                    <option value="04" selected>04</option>
                    <option value="03" selected>03</option>
                    <option value="02" selected>02</option>
                    <option value="01" selected>01</option>
                    <option value="00" selected>00</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="refresh">
                    <h5>Refresh:</h5>
                </label>
                <button type="button" class="form-control btn btn-info" id="refresh" ng-click="getInfoKpis()">Refresh</button>
            </div>
        </div>
    </form>
</nav>
<div class="container">
    <h2>Dashboard</h2>
    <div class="loader" ng-show="loader"></div>
    <div class="row" ng-hide="loader">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="kpis-wrapper mb-60">
                <div class="kpis-inner">
                    <div class="kpis-img">
                        <img src="/static/images/baseline_insert_chart_black_48dp.png" width="68px">
                    </div>
                    <div class="kpis-text h4-greeen">
                        <h4>{{kpis.impacts}}</h4>
                        <p>Uniques</p>
                        <div class="progress">
                            <div class="progress-bar bg-greeen" role="progressbar" style="width: 100%" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="kpis-wrapper mb-60">
                <div class="kpis-inner">
                    <div class="kpis-img">
                        <img src="/static/images/baseline_insert_chart_black_48dp.png" width="68px">
                    </div>
                    <div class="kpis-text h4-greeen">
                        <h4>{{kpis.visitors}}</h4>
                        <p>Visits</p>
                        <div class="progress">
                            <div class="progress-bar bg-greeen" role="progressbar" style="width: 100%" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="kpis-wrapper mb-60">
                <div class="kpis-inner">
                    <div class="kpis-img">
                        <img src="/static/images/baseline_shopping_cart_black_48dp.png" width="68px">
                    </div>
                    <div class="kpis-text h4-blue">
                        <h4>{{kpis.loyals}}</h4>
                        <p>Loyals</p>
                        <div class="progress">
                            <div class="progress-bar bg-blue" role="progressbar" style="width: 100%" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="kpis-wrapper mb-60">
                <div class="kpis-inner">
                    <div class="kpis-img">
                        <img src="/static/images/baseline_account_circle_black_48dp.png" width="68px">
                    </div>
                    <div class="kpis-text h4-purple">
                        <h4>{{kpis.avg_stay}}</h4>
                        <p>AVG Time(min)</p>
                        <div class="progress">
                            <div class="progress-bar bg-purple" role="progressbar" style="width: 100%" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-hide="loader">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="kpis-wrapper mb-60">
                <div class="kpis-inner">
                    <div class="kpis-img">
                        <img src="/static/images/baseline_account_circle_black_48dp.png" width="68px">
                    </div>
                    <div class="kpis-text h4-purple">
                        <h4>{{kpis.loyalty}} %</h4>
                        <p>Loyalty</p>
                        <div class="progress">
                            <div class="progress-bar bg-purple" role="progressbar" style="width: 100%" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="kpis-wrapper mb-60">
                <div class="kpis-inner">
                    <div class="kpis-img">
                        <img src="/static/images/baseline_account_circle_black_48dp.png" width="68px">
                    </div>
                    <div class="kpis-text h4-purple">
                        <h4>{{kpis.frequency}}</h4>
                        <p>Frequency</p>
                        <div class="progress">
                            <div class="progress-bar bg-purple" role="progressbar" style="width: 100%" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="kpis-wrapper mb-60">
                <div class="kpis-inner">
                    <div class="kpis-img">
                        <img src="/static/images/baseline_account_circle_black_48dp.png" width="68px">
                    </div>
                    <div class="kpis-text h4-purple">
                        <h4>{{kpis.reach_rate}}</h4>
                        <p>% Uniques</p>
                        <div class="progress">
                            <div class="progress-bar bg-purple" role="progressbar" style="width: 100%" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>