.search-kpis-content {
    margin: 0 auto;
    float: none;
    margin-top: 1%;
    margin-bottom: 5px;
}

navbar { 
    background-color: white !important;
}

.btn-info:hover {
    cursor: pointer !important;
}

body {
    background-color: #4b76e629;
}

.bg-purple {
    background-color: #945cb8 !important;
}

.bg-greeen {
    background-color: #5cb86b !important;
}

.bg-blue {
    background-color: #5ca0b8 !important;
}

.mb-60 {
    margin-bottom: 60px;
}
.kpis-inner {
    margin-left: 35px;
    transition: .3s;
}
.kpis-img {
    float: left;
    margin-left: -36px;
    margin-right: 22px;
    margin-top: 28px;
}
.kpis-text {
    padding-right: 10px;
}
.kpis-text {
    overflow: hidden;
    padding: 28px 0 25px;
}
.kpis-text h4 {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.kpis-text.h4-purple h4::before {
    background: #945cb8 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 35px;
}
.kpis-text.h4-greeen h4::before {
    background: #5cb86b none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 35px;
}
.kpis-text.h4-blue h4::before {
    background: #5ca0b8 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 35px;
}
.kpis-wrapper:hover .kpis-inner {
    background: #fff none repeat scroll 0 0;
    border: 2px solid transparent;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.kpis-text p {
    margin-bottom: 0;
}
p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #666;
    margin-bottom: 15px;
}

.loader {
    margin: 0 auto;
    float: none;
    margin-top: 10%;
    margin-bottom: 10px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}