<link rel="stylesheet" href="/static/css/login.css">
<div class="card">
    <div class="card-body">
        <div class="container">
            <form class="form-horizontal">
                <div class="form-group row">
                    <label for="user" class="col-sm-2 col-form-label">Usuario</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="user" placeholder="Usuario" ng-model="user" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="psw" class="col-sm-2 col-form-label">Contraseña</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="psw" placeholder="Contraseña" ng-model="psw" >
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-click="log()">Iniciar Sesion</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
